
.home {
  background: #c8caa4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gallery {
  background: #c8caa4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.resources {
  background: #c8caa4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.media {
  margin-top:25px;
}

.card {
  border: 1px solid black;
  box-shadow: 8px 8px 5px grey;
  margin-bottom: 10px;
}

.navbar {
  position:absolute;
  top:15px;
  z-index: 10;
  width:100%;
  opacity: 0.75;
}

.navimage {
  width: 40px;
  height: 40px;
}

.container-fluid {
  margin-bottom: 25px;
}

.carousel {
  top:0;    
}
.frontpagepic {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin-right: 7px;
  margin-bottom: 7px;
} 

.gallerytext {
  margin-top: 95px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 20px;
}

.img-responsive {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

.mr-3 {
  width: 75px;
  height: 75px;
}

.aboutuspic {
  border: 1px solid black;
  box-shadow: 8px 8px 5px grey;
  height: auto;
  width: 97%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  display: block;
}

.goals {
  margin-top: 100px;
  margin-left: 25px;
}

.goals1 {
  margin-top: 25px;
  margin-left: 25px;
}

.leaflet-control-locate a {
  font-size:1.4em;
  color:#444;
  cursor:pointer
}

.leaflet-control-locate.active a {
  color:#2074b6
}

.leaflet-control-locate.active.following a {
  color:#fc8428
}

.leaflet-control-locate-location circle {
  animation:leaflet-control-locate-throb 4s ease infinite
}

@keyframes leaflet-control-locate-throb {
  0%{stroke-width:1}50%{stroke-width:3;transform:scale(0.8, 0.8)}100%{stroke-width:1}
}