.home {
  background: #e6e5c4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gallery {
  background: #c8caa4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.resources {
  background: #c8caa4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.media {
  margin-top:25px;
}

@font-face {
  font-family: blkadd;
  src: url('../fonts/blkadd.ttf');
}

.title {
  font-family: blkadd;
  margin-top: 10px;
  text-align: center;
  font-size: 60px;
  color: #0e455a; 
}

.subtitles {
  color: #0e455a;
}

.link {
  color: #0b6d94;
}

.circle1 {
  width: 190px;
  height: 190px;
  background: url(/static/images_thumbnail/map.jpg);
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  margin: 0px 20px 15px 5px;
  border: 2px solid black;
  box-shadow: 8px 8px 5px grey;
}

.circle2 {
  width: 190px;
  height: 190px;
  background: url(/static/images_thumbnail/rsz_100008.jpg);
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  margin: 0px 20px 15px 5px;
  border: 2px solid black;
  box-shadow: 8px 8px 5px grey;
}

.circle3 {
  width: 190px;
  height: 190px;
  background: url(/static/images_thumbnail/iflogo.jpg);
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  margin: 0px 20px 15px 5px;
  border: 2px solid black;
  box-shadow: 8px 8px 5px grey;
}

.circle4 {
  width: 190px;
  height: 190px;
  background: url(/static/images_thumbnail/paulstamets.jpg);
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  margin: 0px 20px 15px 5px;
  border: 2px solid black;
  box-shadow: 8px 8px 5px grey;
}

.mt-0 {
  text-align: center;
  color: #0b6d94;
}

.card {
  border:2px solid black;
  box-shadow: 8px 8px 8px grey;
  margin-bottom: 12px;
  margin-left: 8px;
  margin-right: 8px;
}

.card-header {
  text-align: center;
}

/* .card-footer {
  text-align: center;
} */

.navbar {
  position:absolute;
  top:9px;
  z-index: 10;
  width:100%;
  opacity: 0.8;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.navimage {
  width: 40px;
  height: 40px;
}

/* .container-fluid {
  margin-bottom: 25px;
} */

.carousel {
  top:0;    
}

.gallerytext {
  margin-top: 95px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 20px;
}

.img-responsive {
  width: 90%;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

.mr-3 {
  width: 75px;
  height: 75px;
}

.d-block {
  border-bottom: 3px solid black;
}

.aboutuspic {
  border: 1px solid black;
  box-shadow: 8px 8px 5px grey;
  height: auto;
  width: 97%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  display: block;
}

.goals {
  margin-top: 100px;
  margin-left: 25px;
}

.goals1 {
  margin-top: 25px;
  margin-left: 25px;
}

.thumb {
  border-radius: 7%;
  margin-top: 3px;
  margin-bottom: 3px;
  border: 1px solid black;
}

.leaflet-control-locate a {
  font-size:1.4em;
  color:#444;
  cursor:pointer
}

.leaflet-control-locate.active a {
  color:#2074b6
}

.leaflet-control-locate.active.following a {
  color:#fc8428
}

.leaflet-control-locate-location circle {
  animation:leaflet-control-locate-throb 4s ease infinite
}

@keyframes leaflet-control-locate-throb {
  0%{stroke-width:1}50%{stroke-width:3;transform:scale(0.8, 0.8)}100%{stroke-width:1}
}