
.home {
  background: #c8caa4;
}

.gallery {
  background: rgb(155, 202, 176);
}

.media {
  margin-top:25px;  
}

.card {
  border: 1px solid black;
  box-shadow: 8px 8px 5px grey;
}

.navbar {
  position:absolute;
  top:15px;
  z-index: 10;
  width:100%;
  opacity: 0.75;
}

.navimage {
  width: 40px;
  height: 40px;
}

.carousel {
  top:0;    
}
.frontpagepic {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin-right: 7px;
  margin-bottom: 7px;
} 

.gallerytext {
  margin-top: 85px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 375px;
  height: 210px;
}

