<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FunGuy</title>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="static/css/style.css" rel="stylesheet">
	  <link rel="stylesheet" href="style.css">
    

</head>

<body class="resources">

  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="index"><img src="static/images_raw/sporeprint.jpg" class="navimage"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="map">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="subscribe">Subscribe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="share">Share</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="store">Store</a>
            <a class="dropdown-item" href="resources">Resources</a>
            <a class="dropdown-item" href="aboutus">About Us</a>
            <a class="dropdown-item" href="projectplan">Project Plan</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

              <div class="gallerytext">
                    <h1>
                        About Us
                    </h1>
                    <p>
                        We are a couple hailing from Portland, OR who enjoy learning about, finding, and photographing fungi.  While on a hike in the spring of 2019, the idea was hatched to create a place where we could share photos of the mushrooms we'd found and identified.  As the idea grew, we thought that other amateur (or professional) mycologists might like to gather here and share their findings as well.
                    </p>
                    <p><b>                        
                        Our goal is to create a fun space where people from all over who enjoy finding and photographing mushrooms can share & discuss their photos, display their findings on a map, and share & discuss mushroom-related content.
                    </p></b>
                    <p>
                        We are not tech experts, but we are learning!  Please join our mailing list or drop us a line if you think you might want to get involved (especially if you have web design / javascript skills and would like to partner for a short time and a reasonable rate).  The mailing list will be used to send out updates as we work towards our goal of creating this space.
                    </p>
                    <p>
                        For now, please enjoy looking around the website and checking out some our favorite fungi finds.  Thanks for stopping by!
                    </p></div>

                    <div>
                      <img src="static/images_raw/fam.jpeg" class="aboutuspic" alt="...">
                  </div>


                  












        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
