<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FunGuy</title>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="static/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
    

</head>

<body class="gallery">

  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="index.html"><img src="images_raw/sporeprint.jpg" class="navimage"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="gallery.html">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="map.html">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="subscribe.html">Subscribe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="store.html">Store</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="stories.html">Stories</a>
            <a class="dropdown-item" href="resources.html">Resources</a>
            <a class="dropdown-item" href="aboutus.html">About Us</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
              <div class="gallerytext">
                <h1>
                    Identified Mushrooms Gallery
                </h1>
                <p>
                    Check out these fantastic fungi found in the Pacific Northwest and beyond!  We are mushroom hunting and photo taking enthusiasts, but not identification experts.  See something that looks incorrect?  Let us know.  Want to submit a photo of your own to be featured in our gallery and on our map?  Upload your photo and mushroom information here.
                </p></div>



              <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header">
                                Fomitopsis Pinicola
                            </h5>
                            <div class="card-body">
                                <img src="images_raw/100001.jpg" class="center" alt="...">
                            </div>
                            <div class="card-footer">
                                AKA Larch Polypore.  Wildwood Trail, Forest Park, Portland, OR.  -Jarred
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header">
                                Amanita Muscaria
                            </h5>
                            <div class="card-body">
                                <img src="images_raw/100002.jpg" class="center" alt="...">
                            </div>
                            <div class="card-footer">
                                AKA Fly Agaric.  Columbia Children's Arboretum, Portland, OR.  -Jessie
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <h5 class="card-header">
                                Hypholoma Fasciculare
                            </h5>
                            <div class="card-body">
                                <img src="images_raw/100003.jpg" class="center" alt="...">
                            </div>
                            <div class="card-footer">
                                Possibly Hypholoma Capnoides.  Cannon Trail, Forest Park, Portland, OR.  -Billy
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <h3>Goals for this page:</h3>
            <ul>
              <li>Make data source feed text to cards</li>
              <li>Allow members to interact with each photo - collapsable comment thread on each card</li>
              <li>Create photo submital portal (for members) with questionnaire for each data point</li>
              <li>Long term:  Mushroom identifier decision tree</li>
            </ul>







              <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
      </body>
      </html>