<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

<style>

#mapid {position: absolute; top: 0; bottom: 0; left: 0; right: 0;}

</style>

</head>

<body>

<div id="mapid"></div>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

<script>
    var mymap = L.map('mapid').setView([45.5051, -122.6750], 7);

    L.tileLayer('https://api.maptiler.com/maps/hybrid/{z}/{x}/{y}.jpg?key=j0KTqUrCJkeewtiflV72', {
            attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>'
        }).addTo(mymap);
</script>

<script>
    var marker1 = L.marker([45.58757, -122.79328]).addTo(mymap);
    marker1.bindPopup("<b>Fomitopsis Pinicola</b><br><img src='static/images_thumbnail/rsz_100001.jpg' class='thumb' height=125px width=125px</><br>September 18, 2019</><br>Jarred - Portland, OR</br>").openPopup();

    var marker2 = L.marker([45.59355, -122.66130]).addTo(mymap);
    marker2.bindPopup("<b>Fomitopsis Pinicola</b><br><img src='static/images_thumbnail/rsz_100002.jpg' class='thumb' height=125px width=125px</><br>October 6, 2019</><br>Jessie - Portland, OR</br>").openPopup();

    var marker3 = L.marker([45.58873, -122.79173]).addTo(mymap);
    marker3.bindPopup("<b>Fomitopsis Pinicola</b><br><img src='static/images_thumbnail/rsz_100003.jpg' class='thumb' height=125px width=125px</><br>October 20, 2019</><br>Billy - Portland, OR</br>").openPopup();

    var marker4 = L.marker([46.22925, -123.99843]).addTo(mymap);
    marker4.bindPopup("<b>Fomitopsis Pinicola</b><br><img src='static/images_thumbnail/rsz_100004.jpg' class='thumb' height=125px width=125px</><br>October 13, 2019</><br>Jarred - Portland, OR</br>").openPopup();

    var marker5 = L.marker([45.58788, -122.79264]).addTo(mymap);
    marker5.bindPopup("<b>Fomitopsis Pinicola</b><br><img src='static/images_thumbnail/rsz_100005.jpg' class='thumb' height=125px width=125px</><br>October 20, 2019</><br>Jarred - Portland, OR</br>").openPopup();

    var marker6 = L.marker([45.5886, -122.79964]).addTo(mymap);
    marker6.bindPopup("<b>Fomitopsis Pinicola</b><br><img src='static/images_thumbnail/rsz_100006.jpg' class='thumb' height=125px width=125px</><br>October 27, 2019</><br>Jarred - Portland, OR</br>").openPopup();

    var marker7 = L.marker([47.614531, -120.951482]).addTo(mymap);
    marker7.bindPopup("<b>Corinarius Olympianus</b><br><img src='static/images_thumbnail/rsz_100007.jpg' class='thumb' height=125px width=125px</><br>October 2, 2019</><br>Jessie - Portland, OR</br>").openPopup();

    
</script>


</body>
</html>

