<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>IF Resources</title>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="static/css/style.css" rel="stylesheet">
	  <link rel="stylesheet" href="style.css">
    

</head>

<body class="resources">

  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="index"><img src="static/images_raw/sporeprint.jpg" class="navimage"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="map">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="subscribe">Subscribe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="share">Share</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="store">Store</a>
            <a class="dropdown-item" href="resources">Resources</a>
            <a class="dropdown-item" href="projectplan">Project Plan</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

              <div class="gallerytext">
                    <h1>
                        Inspiration & Resources
                    </h1>
                    <p>
                        Check out some of our inspirations in creating this site and resources for learning more about our mycelium mates!
                    </p></div>


                    <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12"><ul class="list-unstyled">
                                        <li class="media">
                                          <img src="static/images_thumbnail/paulstamets.jpg" class="mr-3" alt="Paul Stamets">
                                          <div class="media-body">
                                            <h3 class="mt-0 mb-1">Paul Stamets, Fungi Perfecti</h3>
                                            This well-known PNW Mycologist and author is everywhere - a must-listen for everyone in our opinion.  If you're here, chances are we're preaching to the choir.  He is a wealth of information about the various physical health, mental health, and environmental benefits of MANY different kinds of mushrooms and their mycelium.  His website <a href="https://www.fungi.com">fungi.com</a> has all sorts of great products and information.  Look him up on YouTube or wherever you get your podcasts.  He has been a guest on the <a href="https://www.stitcher.com/podcast/tim-ferriss-show/the-tim-ferriss-show/e/56675549">Tim Ferriss Show</a>, <a href="https://www.stitcher.com/podcast/the-joe-rogan-experience/e/52149773">The Joe Rogan Experience</a>, <a href="https://www.stitcher.com/podcast/bulletproof-radio/bulletproof-executive-radio/e/63704538">Bulletproof Radio with Dave Asprey</a>, and more.
                                          </div>
                                        </li>
                                        <li class="media my-4">
                                          <img src="static/images_thumbnail/michaelpollan.jpg" class="mr-3" alt="Michael Pollan">
                                          <div class="media-body">
                                            <h3 class="mt-0 mb-1">How to Change Your Mind, by Michael Pollan</h3>
                                            <a href="https://michaelpollan.com/books/how-to-change-your-mind/">This book is incredible.</a>  Now if only I knew how to write a book review.  Pollan does an amazing job at providing historical context for the use psychedelics in therapy.  This book is filled with thought-provoking stories about researchers and their experience helpiing patients who suffer from addiction, depression, terminal cancer, and more with these guided treatments.
                                          </div>
                                        </li>                                        
                                      </ul>
                                </div>
                            </div>
                        </div>
                        












        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
