<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>IF Share</title>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="static/css/style.css" rel="stylesheet">
	  <link rel="stylesheet" href="style.css">
    

</head>

<body class="resources">

  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="index"><img src="static/images_raw/sporeprint.jpg" class="navimage"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="map">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="subscribe">Subscribe</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="share">Share</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="store">Store</a>
            <a class="dropdown-item" href="resources">Resources</a>
            <a class="dropdown-item" href="aboutus">About Us</a>
            <a class="dropdown-item" href="projectplan">Project Plan</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

              <div class="gallerytext">
                    <h1>
                        Share with the Ineffable Fungi Community
                    </h1>
                    <p>
                        We envision this as our members' space to share their favorite fungi fables, stories from the hunt, recipes, and more.  Goals for the future functionality of this page can be found on our <a href=projectplan>Project Plan</a> page with our other goals.  Below are some simplified examples:
                    </p></div>


                    <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12"><ul class="list-unstyled">
                                        <li class="media">
                                          <img src="static/images_raw/profilepic.jpg" class="mr-3" alt="...">
                                          <div class="media-body">
                                            <h5 class="mt-1 mb-1">Fungi of Forest Park - Jane, Portland, OR - 11/8/19</h5>
                                            Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.
                                          </div>
                                        </li>
                                        <li class="media my-4">
                                          <img src="static/images_raw/profilepic.jpg" class="mr-3" alt="...">
                                          <div class="media-body">
                                            <h5 class="mt-1 mb-1">Pscilosibine Thread - 11/7/19 - Jerry, Tierra Del Mar, OR</h5>
                                            Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.

                                            Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.  
                                          </div>
                                        </li>
                                        <li class="media">
                                          <img src="static/images_raw/profilepic.jpg" class="mr-3" alt="...">
                                          <div class="media-body">
                                            <h5 class="mt-1 mb-1">Chantrelle Recpies? - 11/7/19 - Sam, Portland, OR</h5>
                                            Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip. Sea lettuce lettuce water chestnut eggplant winter purslane fennel azuki bean earthnut pea sierra leone bologi leek soko chicory celtuce parsley jícama salsify.
                                          </div>
                                        </li>
                                      </ul>
                                </div>
                            </div>
                        </div>

                                          

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
