<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>IF Share</title>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="static/css/style.css" rel="stylesheet">
	  <link rel="stylesheet" href="style.css">
    

</head>

<body class="resources">

  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="index.html"><img src="images_raw/sporeprint.jpg" class="navimage"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="gallery.html">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="map.html">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="subscribe.html">Subscribe</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="share.html">Share</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="store.html">Store</a>
            <a class="dropdown-item" href="resources.html">Resources</a>
            <a class="dropdown-item" href="aboutus.html">About Us</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

              <div class="gallerytext">
                    <h1>
                        Stories
                    </h1>
                    <p>
                        This is our members' space to share their farout fungi fables, stories from the hunt, recipes, and more.
                    </p></div>


                    <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12"><ul class="list-unstyled">
                                        <li class="media">
                                          <img src="images_raw/profilepic.jpg" class="mr-3" alt="...">
                                          <div class="media-body">
                                            <h5 class="mt-0 mb-1">Fungi of Forest Park - Jane, Portland, OR - 11/8/19</h5>
                                            I'm sure you all already know this, but if you are looking to find some awesome looking mushrooms without travelling out of Portland, there are some real beauties in Forest Park. Lately I've been walking Wildwood Trail and Cannon Trail.  Lots of cool Polypores and other mushrooms everywhere you look. 
                                          </div>
                                        </li>
                                        <li class="media my-4">
                                          <img src="images_raw/profilepic.jpg" class="mr-3" alt="...">
                                          <div class="media-body">
                                            <h5 class="mt-0 mb-1">Pscilosibine Thread - 11/7/19 - Jerry, Tierra Del Mar, OR</h5>
                                            I had an amazing (and at times terrifying) journey at the beach in Tierra Del Mar recently that left me feeling all sorts of indescribable things and changed my life for the better.  Definitely had the feeling that I've read about surrounding the dissolution of the ego, becoming completely connected to everything.  At one point I was completely melting in to the cool sand and it was glorious.  I think back on this journey often and it helps me a lot.  I've since done more reading about how psychedilic therapy has been succsefully tested to treat addiction and break patterns of destructive thought, and I feel like I understand how that works a little better now.  I'm particularily fascinated by the studies involving the terminally ill and some of the amazing stories in using Pscilosbine in therapy sessions to cope with end of life.  Does anyone here have any stories to share on that topic?  Thanks!       
                                          </div>
                                        </li>
                                        <li class="media">
                                          <img src="images_raw/profilepic.jpg" class="mr-3" alt="...">
                                          <div class="media-body">
                                            <h5 class="mt-0 mb-1">Chantrelle Recpies? - 11/7/19 - Sam, Portland, OR</h5>
                                            I recentely bought some Chantrelles from New Seasons and realized I have no idea what I'm doing when it comes to cooking them.  I picked a recipe online that involved some fake butter and garlic.  They were OK but could have been better.  Curious what everyone here's favorite method is.
                                          </div>
                                        </li>
                                      </ul>
                                </div>
                            </div>
                        </div>

                        <h3>Goals for this page:</h3>
            <ul>
              <li>Member's identifier with each post</li>
              <li>Automatic time stamp</li>
              <li>Tag category, add filtering functionality</li>              
            </ul>
                        












        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
