
<html>

    <head>
      <title>Turtle Islanders</title>

<!-- Load Leaflet from CDN -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
crossorigin=""></script>


<!-- Load Esri Leaflet from CDN -->
<script src="https://unpkg.com/esri-leaflet@2.3.2/dist/esri-leaflet.js"
integrity="sha512-6LVib9wGnqVKIClCduEwsCub7iauLXpwrd5njR2J507m3A2a4HXJDLMiSZzjcksag3UluIfuW1KzuWVI5n/cuQ=="
crossorigin=""></script>


<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>



<!-- Load Leaflet MarkerCluster and Esri Leaflet Cluster from CDN -->
<link rel="stylesheet" type="text/css"
  href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
  integrity="sha512-BBToHPBStgMiw0lD4AtkRIZmdndhB6aQbXpX7omcrXeG2PauGBl2lzq2xUZTxaLxYz5IDHlmneCZ1IJ+P3kYtQ=="
  crossorigin="">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
  integrity="sha512-RLEjtaFGdC4iQMJDbMzim/dOvAu+8Qp9sw7QE4wIMYcg2goVoivzwgSZq9CsIxp4xKAZPKh5J2f2lOko2Ze6FQ=="
  crossorigin="">
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"
  integrity="sha512-MQlyPV+ol2lp4KodaU/Xmrn+txc1TP15pOBF/2Sfre7MRsA/pB4Vy58bEqe9u7a7DczMLtU5wT8n7OblJepKbg=="
  crossorigin=""></script>
<script src="https://unpkg.com/esri-leaflet-cluster@2.0.1/dist/esri-leaflet-cluster.js"
  integrity="sha512-2/Nwrks+A2omjKeWrF4TKFLIrUbAhSl8EDEm6xunuwXXYqMoJI71PZtlW0/vqt9d3DOyP1md/bzAnNH2KuAhaQ=="
  crossorigin=""></script>

 

      <!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
      <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
      <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
      

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link href="static/css/style.css" rel="stylesheet">
      

<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@0.5.0/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@0.5.0/dist/MarkerCluster.Default.css" />
<script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@0.5.0/dist/leaflet.markercluster.js"></script> -->
   
      <style>
        #map{ height: 100% }
      </style>

    </head>
    <body>
          
      <div id="map"></div>
    
      <script>

      // Initialize Map
      var map = L.map('map').setView([37.6675, -97.1331], 3.3);


      // Tile Layer
      L.tileLayer('https://api.maptiler.com/maps/hybrid/{z}/{x}/{y}.jpg?key=j0KTqUrCJkeewtiflV72',
        {
          attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
        }).addTo(map);

      
        // Read geojson file, add markers and popups
        // $.getJSON('/static/data.geojson', function(data) {
        //   var geojson = L.geoJson(data, {
        //     onEachFeature: function (feature, layer) {
        //       layer.bindPopup('<b>' + feature.properties.type + '</b>' + '</br>' + "<img src='/static/images_thumbnail/" + feature.properties.map_image + "' class='thumb' height=175px width=175px />" + '</br>' + '<b>AKA: '+ feature.properties.aka + '</b>' + '</br>' + '<b>Finder: '+ feature.properties.finder + '</b>' + '</br>' + '<b>Near: ' + feature.properties.city + ", " + feature.properties.state + '</b>').addTo(map);
        //     }
        //   })
        // });


        var geojsonMarkerOptions = {
    radius: 8,
    fillColor: "#ff7800",
    color: "#000",
    weight: 1,
    opacity: 1,
    fillOpacity: 0.8};

    var markers = L.markerClusterGroup();
        

        $.getJSON('/static/turtle.geojson', function(data) {
          var geojson = L.geoJson(data, {
            onEachFeature: function (feature, layer) {
              layer.bindPopup('<b>Tribe: ' + feature.properties.tribe + '</b>' + '</br>' + '<b>Clan: ' + feature.properties.clan + '</b>' + '</br>' + "<img src='/static/turtle_images/" + feature.properties.image + "' class='thumb' height=200px width=200px />" + '</br>' + '<b>Chief: '+ feature.properties.chief + '</b>' + '</br>' + '<b>Year: '+ feature.properties.year + '</b>' + '</br>' + '<b>US Leader: ' + feature.properties.us_leader + '</b>' + '</br>' + '<b>Lies:  ' + feature.properties.lies + '</br>' + '<b>Casualties:  ' + feature.properties.casualties + '</b>' + '</br>' + '<b>Aftermath:  ' + feature.properties.aftermath + '</b>');              
            },
            pointToLayer: function (data, latlng) {
              return L.circleMarker(latlng);
            }
          }).addTo(map);
          // map.fitBounds(geojson.getBounds());
        });

        // https://gis.stackexchange.com/questions/331234/leaflet-load-json-data

        // var markers = L.markerClusterGroup();
        //       markers.addLayer(geojson);
        //       map.addLayer(markers);

        // var markers = L.markerClusterGroup();
       
        // geojson.on('data:loaded', function () {
        //   markers.addLayer(geojson);
        //   console.log(markers);
        //   map.addLayer(markers);
        // });     

        

      
</script>
</body>
</html>      
