
<html>

    <head>
      <title>Turtle Island</title>

<!-- Load Leaflet from CDN -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
crossorigin=""></script>


<!-- Load Esri Leaflet from CDN -->
<script src="https://unpkg.com/esri-leaflet@2.3.2/dist/esri-leaflet.js"
integrity="sha512-6LVib9wGnqVKIClCduEwsCub7iauLXpwrd5njR2J507m3A2a4HXJDLMiSZzjcksag3UluIfuW1KzuWVI5n/cuQ=="
crossorigin=""></script>


<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>



<!-- Load Leaflet MarkerCluster and Esri Leaflet Cluster from CDN -->
<link rel="stylesheet" type="text/css"
  href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
  integrity="sha512-BBToHPBStgMiw0lD4AtkRIZmdndhB6aQbXpX7omcrXeG2PauGBl2lzq2xUZTxaLxYz5IDHlmneCZ1IJ+P3kYtQ=="
  crossorigin="">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
  integrity="sha512-RLEjtaFGdC4iQMJDbMzim/dOvAu+8Qp9sw7QE4wIMYcg2goVoivzwgSZq9CsIxp4xKAZPKh5J2f2lOko2Ze6FQ=="
  crossorigin="">
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"
  integrity="sha512-MQlyPV+ol2lp4KodaU/Xmrn+txc1TP15pOBF/2Sfre7MRsA/pB4Vy58bEqe9u7a7DczMLtU5wT8n7OblJepKbg=="
  crossorigin=""></script>
<script src="https://unpkg.com/esri-leaflet-cluster@2.0.1/dist/esri-leaflet-cluster.js"
  integrity="sha512-2/Nwrks+A2omjKeWrF4TKFLIrUbAhSl8EDEm6xunuwXXYqMoJI71PZtlW0/vqt9d3DOyP1md/bzAnNH2KuAhaQ=="
  crossorigin=""></script>


   
      <style>
        #map{ height: 100% }
      </style>

    </head>
    <body>
          
      <div id="map"></div>
    
      <script>

      // Initialize Map
      var map = L.map('map').setView([37.6675, -97.1331], 5);


      // Tile Layer
      L.tileLayer('https://api.maptiler.com/maps/hybrid/{z}/{x}/{y}.jpg?key=j0KTqUrCJkeewtiflV72',
        {
          attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
        }).addTo(map);

      
        $.getJSON('/static/turtle.geojson', function(data) {
          var geojson = L.geoJson(data, {
            onEachFeature: function (feature, layer) {
              layer.bindPopup('<b>Tribe: ' + feature.properties.tribe + '</b>' + '</br>' + '<b>Clan: ' + feature.properties.clan + '</b>' + '</br>' + "<img src='/static/turtle_images/" + feature.properties.image + "' class='thumb' height=200px width=200px />" + '</br>' + '<b>Chief: '+ feature.properties.chief + '</b>' + '</br>' + '<b>Year: '+ feature.properties.year + '</b>' + '</br>' + '<b>US Leader: ' + feature.properties.us_leader + '</b>' + '</br>' + '<b>Lies:  ' + feature.properties.lies + '</br>' + '<b>Casualties:  ' + feature.properties.casualties + '</b>' + '</br>' + '<b>Aftermath:  ' + feature.properties.aftermath + '</b>');          
            },            
            pointToLayer: function (feature, latlng) {
              var myIcon = L.icon({
                iconSize: [75, 75],
                shadowSize: [75, 75],
                shadowAnchor: [33, 33],
                popupAnchor: [1, -30],
                shadowUrl: '/static/icons/shadow.jpg',
                iconUrl: '/static/icons/' + feature.properties.icon
              });
              return L.marker(latlng, {icon: myIcon});
            }
          }).addTo(map);
        });
        

        // https://gis.stackexchange.com/questions/331234/leaflet-load-json-data


             
</script>
</body>
</html>      
